extends ../layout

block title
	| Página: #{page.slug}
block link
	-var selected = 'páginas';

block content
	h2 Página: #{page.slug}
	hr
	table.table-condensed
		+table_rec_row_raw("ID", md('**' + page.slug + '** *(' + page.id + ')*'))
		+table_rec_row("Título", page.title)
		+table_rec_row("Imagens", '###')
		+table_rec_row_date("Data de criação", page.createdAt)
		+table_rec_row_date("Última atualização", page.updatedAt)
		+table_rec_row_raw("Texto", page.content)
	hr
	.btn-group
		a(href='/admin/pages').btn Voltar
		a(href='/admin/page/'+page.id+'/edit').btn.btn-primary Editar página
		a(href='/admin/page/'+page.id+'/remove').btn.btn-danger Remover página
		