extends layout

block title
	| Login Administração UPAC

block content
	.login-form
		h2 Login
		form(action='/admin/login', method='POST')
			fieldset
				.clearfix
					input(type="text", placeholder="Nome de usuário ou email")
				.clearfix
					input(type="password", placeholder="Senha")
				button.btn.btn-primary(type="submit") Entrar