extends ../layout

block content
	h2 Usuários
	table.table.table-striped
		thead
			tr
				th ID
				th Nome de usuário
				th Email
				th Administrador
		tbody
			each user in users
				tr
					td
						a(href='/admin/user/'+user.id)= user.id
					td
						a(href='/admin/user/'+user.id)= user.username
					td
						a(href="mailto:"+user.email)= user.email
					td
						if user.admin == true
							i.icon-ok
						else
							i.icon-remove
	.btn-group
		a(href='/admin/user/new').btn Novo usuário
		a(href='/admin').btn Voltar