extends ../layout

block title
	| Novo usuário
block link
	-var selected = 'usuarios';

block content
	h2 Novo usuário
	form(action='/admin/user',method='POST').form-horizontal
		+field("", 'name', 'Nome', 'text')
		+field("", 'email', 'Email', 'text')
		+field("", 'password', 'Senha', 'password')
		+checkbox(user.admin, 'admin', 'Administrador')
		+field("", 'geo', 'Loc. geográfica', 'text')
		+field("", 'dateOfBirth', 'Data de nascimento', 'date')
		+field("", 'city', 'Cidade', 'text')
		+field("", 'state', 'Estado', 'text')
		+field("", 'country', 'País', 'text')
		+field("", 'gender', 'Gênero', 'text')
		+textfield('', 'about', 'sobre')
		
		button(type='submit').btn.btn-primary Enviar
		a(href='/admin/users').btn Cancelar
