<div class="row-fluid">
	<div class="span6">
		<h1>{{#linkTo agenda}}Agenda{{/linkTo}}</h1>
	</div>
	<div class="span6" style="text-align: right;">
		<a href="/agenda/editor" class="btn">Criar evento</a>
	</div>
</div>
<p>&nbsp;</p>
{{outlet}}