<div class="home_wrapper">
	
	<h1><span>Universidade</span> <span>Popular de Arte</span> <span>e Ciência</span></h1>
	
	<div class="destaque">
		imagem em destaque que pode ser mudada pelo admin
	</div>

	<div class="noticias">
		
	</div>

</div>

{{view App.HomeSlidesView}}