<ul class="slideshow">
	<li><img src="./img/home01.jpg"></li>
	<li><img src="./img/home02.jpg"></li>
	<li><img src="./img/home03.jpg"></li>
	<li><img src="./img/home04.jpg"></li>
	<li><img src="./img/home05.jpg"></li>
	<li><img src="./img/home06.jpg"></li>
	<li><img src="./img/home07.jpg"></li>
	<li><img src="./img/home08.jpg"></li>
</ul>