<nav id="main_menu" {{bindAttr class="route_class"}}>
	<ul>
		<li class="menu_it home">{{#linkTo 'home'}}<span><span class="ico"></span>Entrada</span>{{/linkTo}}</li>
		<li class="menu_it upac">{{#linkTo 'upac'}}<span><span class="ico"></span>Sobre a UPAC</span>{{/linkTo}}</li>
		<li class="menu_it rede">{{#linkTo 'rede'}}<span><span class="ico"></span>Rede</span>{{/linkTo}}</li>
		<li class="menu_it blog">{{#linkTo 'blog'}}<span><span class="ico"></span>Blog</span>{{/linkTo}}</li>
		<li class="menu_it agenda">{{#linkTo 'agenda'}}<span><span class="ico"></span>Agenda</span>{{/linkTo}}</li>
	</ul>
</nav>

<div id="sec_menu">
	<li class="menu_it login">{{#linkTo 'user'}}<span><span class="ico"></span>Participar</span>{{/linkTo}}</li>
</div>