<div class="overlay">
	<a {{action hideContentModal}} class="overlay-bg"></a>
	<div class="overlay-modal">
		<ul>
			<li><a class="btn" href="/editor">Criar publicação</a></li>
			<li><a class="btn" href="/editor">Criar evento</a></li>
		</ul>
	</div>
</div>