{{#if User.auth.loggedIn}}

<div class="row-fluid">
	
	<div class="span8">

		<h1 class="upper">{{User.auth.username}}</h1>
	
		<hr/>

		<h3>Publicações no site</h3>

		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, rem, nesciunt, repellendus, ab saepe libero dignissimos placeat animi nostrum eius molestiae obcaecati labore provident quasi excepturi voluptatum qui iure consequuntur.</p>

		<hr/>

		<h3>Comentários</h3>
		
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, rem, nesciunt, repellendus, ab saepe libero dignissimos placeat animi nostrum eius molestiae obcaecati labore provident quasi excepturi voluptatum qui iure consequuntur.</p>

	</div>

	<div class="span1">
		&nbsp;
	</div>
	
	<div class="span3">
		
		<p></p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, ducimus, ut quasi enim quibusdam culpa impedit esse cupiditate incidunt tempore consequatur in fuga a hic nobis dolores mollitia et voluptatem!</p>

	</div>
	
</div>

{{/if}}