<h1 class="logo">UPAC</h1>

<p>A Universidade Popular de Arte e Ciência apresenta a todos os participantes do seu II Congresso seus princípios filosóficos, pedagógicos e as ideias-forças que regem seu antiprograma pedagógico.</p>

<p>Desde já declaramos publicamente e a quem interessar possa que nossa proposta educacional está calcada em uma visão de educação que toma a vivência como caminho e considera o saber-de-experiência-feito como ponto de partida, base da produção do conhecimento. Aqui referenciamos um dos nossos mestres, Paulo Freire, que nos ensina que o conhecimento provém da experiência. Nos ensina ainda, dialogando com nossa mestra maior, Nise da Silveira, que não se educa só pela racionalidade. Portanto, apresentamos a amorosidade como princípio fundante de nosso caminho pedagógico e que gera o afeto catalisador, grande legado de Nise que, por sua vez, gera cuidado e alegria, também conceitos que nos iluminam e orientam o nosso caminhar. Aprendemos com Baruch de Spinoza que somos afetados pelas paixões e que as paixões que geram alegria despertam nossa potência de viver. Logo as paixões alegres constituem-se também referências de nossa prática pedagógica. Também dialogando com Nise e Spinoza referendamos a ideia de Deus como algo inerente ao humano, síntese entre transcendência e imanência, sagrado e profano, corpo e espírito. Apresentamos a vida como centralidade, biocentrismo em vez de antropocentrismo. Em vista disso nossa universidade referencia as práticas tradicionais como o xamanismo, o candomblé e tantas outras, como caminhos de aprendizagens significativas, de fortalecimento da identidade e do desvelamento que Jung chamou de inconsciente coletivo. Na UPAC propomos uma ciência intuitiva que considera a importância do ato criador e onde criação não se separa da invenção. Onde a poesia e a cultura popular revelam a beleza do conhecer que gera luz, faz nascer novas possibilidades de transformação do cotidiano em suas complexidades. Referenciamos ainda Paulo Freire ao compreendermos o humano como inacabado em sua incompletude que valoriza o saber do outro e da outra respeitando as diferenças e reconhecendo as semelhanças propondo o exercício da alteridade produtor de polifonias e policromias.</p>

<!--<iframe width="560" height="315" src="http://www.youtube.com/embed/XCVsm-_B_pU" frameborder="0" allowfullscreen></iframe>-->
<iframe src="http://player.vimeo.com/video/70401997?portrait=0" width="720" height="405" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<p>Parte de uma visão ética que considera a fraternidade e a solidariedade como ideias-forças e compreendendo a circularidade sistêmica, propõe mandalas como sínteses reflexivas e movimentos em teias que referendam a conjugação do verbo esperançar como estratégia de conquista da liberdade.</p>

<p>E para que esses princípios e ideias-forçae possam materializar-se, nós atores-sujeitos, protagonistas desta construção, aprendizes da arte do bem viver, propomos caminhos nos quais é possível conjugar o ser, saber e o querer, e onde a escuta sensível, o afeto geram movimentos em potência, atitudes propulsoras para que o mergulho nas vivências produza a abstração acerca do vivido. Nosso caminhar pelos caminhos da terra nos ajudará a construir uma organização que rompa com as hierarquias e as estruturas rígidas; nossa dança pelas chamas energizantes do fogo alimentará a nossa rebeldia e manterá vivo o nosso espírito de luta; nosso navegar pelos caminhos das águas manterá viva a nossa criança e com ela a espontaneidade, o mimo com os que se achegam, a energia brincante que se faz roda-cirandando, cantando e colorindo os espaços com alegria a se expressar nos sorrisos, nos beijos e abraços; nossos vôos pela energia do ar, espalharão poemas e canções e convivendo e partilhando, ensinando e aprendendo vamos construindo o sentido mais profundo da ajuda mútua, do respeito, do diálogo, do ser feliz, onde o processo educativo se faz manifestação, festa, celebração.</p>

<p>Sabemos que muitos são os que se deixam afetar pelas paixões tristes, geradoras de dor, medo, limitações que produzem marcas, cicatrizes, o medo que amordaça, produz amarras. Essas situações-limite são por vezes fardos pesados que muitos insistem em carregar e geram adoecimentos. Mas não as vemos como barreiras intransponíveis: acreditamos que é possível romper com o preconceito, a culpa e a exclusão. Dizemos não à prisão e à drogadição como recurso atuando como camisa-de-força química.</p>

<p>Conjugamos o verbo esperançar e como protagonistas desse caminhar vamos construindo o inédito viável rumo à nossa utopia. Nesse não lugar, essa escola sem paredes, nós, crianças, idosos, homens e mulheres de todas as cores e de todas as raças, com família e sem família, com eficiências e deficiências, artistas, músicos, abre alas, saltimbancos, educadores e educandos, mães de santo, xamãs, bruxos, magos, monstros, cuidadores e cuidadoras, loucos por arte e por vida vamos desenhando nosso percurso com o respeito a todos os seres, promovendo a inclusão dos diferentes, dos oprimidos em busca da independência em um processo de organização pautado na liberdade que tem a emancipação como conquista.</p>

<p><strong>Rumo ao inédito-viável seguimos em frente sem medo da felicidade, da alegria ou da loucura ofertamos a nossa gratidão aos nossos mestres da cultura popular, Nise da Silveira, Baruch de Spinoza, Nelson Vaz, Amir Haddad, José Pacheco, Heloisa Helena e tantos outros, por iluminarem nossos caminhos com seus ensinamentos e a todos os que ousaram conosco experenciar a loucura, a arte e a ciência nessa ocupação.</strong></p>

<div class="upac-row white">
	<div class="row-fluid">
		<div class="span5">
			<p><img src="./img/home05.jpg"/></p>
		</div>
		<div class="span7">
			<p><strong>PRINCÍPIOS FILOSÓFICOS E PEDAGÓGICOS E IDEIAS-FORÇAS</strong></p>
			<ul>
				<li>Educação / Vivência / Experiência / Amorosidade / Paixão / Alegria / Afeto Catalisador / Cuidado</li>
				<li>Deus / Vida / Biocentrismo / Xamanismo / Espiritualidade / Inconsciente Coletivo/Transcendência / Imanência</li>
				<li>Criação / Invenção / Ciência Intuitiva / Circularidade / Mandala / Teia</li>
				<li>Ética / Solidariedade / Fraternidade</li>
				<li>Luz / Transformação / Nascimento / Renascimento / Esperança / Liberdade</li>
				<li>Beleza / Poesia / Cultura Popular</li>
				<li>Incompletude / Valorização do Outro e da Outra / Alteridade(respeito às diferenças e semelhanças) Polifonia / Policromia</li>
			</ul>
		</div>
	</div>
</div>

<div class="upac-row">
	<div class="row-fluid">

		<div class="span7">
			<p><strong>PAIXÕES TRISTES/SITUAÇÕES-LIMITE</strong></p>
			<ul>
				<li>Dor / Marca / Fardo / Doença / Drogadição</li>
				<li>Medo / Mordaça / Limitações / Amarras / Preconceito / Exclusão</li>
			</ul>
			<p><strong>ATITUDES/ MOVIMENTOS GERADORES E PROPULSORES</strong></p>
			<ul>
				<li>Ser / Saber / Querer / Abstração / Escuta / Mergulho / Vivência</li>
				<li>Afeto / Mimo / Ajuda / Partilhar / Ensinar / Aprender / Conviver / Caminhar / Navegar</li>
				<li>Respeito / Rebeldia / Luta / Organização</li>
				<li>Sorrir / Beijar / Abraçar / Falar / Dançar / Cantar / Colorir / Poetizar / Brincar / Cirandar / Ser Feliz</li>
				<li>Espontaneidade / Festa / Manifestação / Celebração</li>
			</ul>
		</div>

		<div class="span5">
			<p><img src="./img/home04.jpg"/></p>
		</div>
	</div>
</div>

<div class="upac-row white">
	<div class="row-fluid">
		<div class="span5">
			<p><img src="./img/home06.jpg"/></p>
		</div>
		<div class="span7">
			<p><strong>UTOPIAS</strong></p>
			<ul>
				<li>Respeito / Inclusão / Organização / Independência / Liberdade / Emancipação</li>
			</ul>
			<p><strong>SUJEITOS /PROTAGONISTAS/MESTRES/APRENDIZES</strong></p>
			<ul>
				<li>Nós</li>
				<li>Crianças / Idosos / Homens / Mulheres / Negros / Pessoas com Deficiência / Famílias</li>
				<li>Artistas / Músicos / Abre Alas / Saltimbancos</li>
				<li>Estudantes</li>
				<li>Mães de Santo / Xamãs / Bruxos / Magos</li>
				<li>Monstros</li>
				<li>Soldados</li>
				<li>Loucos</li>
				<li>Cuidadores e Cuidadoras</li>
			</ul>
		</div>
	</div>
</div>

<div class="upac-row">
	<div class="row-fluid">

		<div class="span7">
			<p><strong>MESTRES DA CULTURA POPULAR</strong></p>
			<ul>
				<li>Nise da Silveira</li>
				<li>Baruch de Spinoza</li>
				<li>Nelson Vaz</li>
				<li>Amir Haddad</li>
				<li>José Pacheco</li>
				<li>Heloisa Helena</li>
				<li>Drummond</li>
				<li>Júnio Santos</li>
				<li>Vera Dantas</li>
			</ul>
		</div>

		<div class="span5">
			<p><img src="./img/home01.jpg"/></p>
		</div>
	</div>
</div>

<p>
	<strong>Outros materiais</strong>
	<br/><a href="http://www.redehumanizasus.net/13041-ii-congresso-da-upac-ocupa-nise">http://www.redehumanizasus.net/13041-ii-congresso-da-upac-ocupa-nise</a>
</p>

<p>
	<strong>Créditos do site</strong>
	<br/><a href="https://github.com/ultraleve/upac/">Gerador Cultural, Ultraleve, Norte Comum e UPAC</a>
</p>

<div class="contato upac-row white">
	<h2>Contato</h2>
	<p>
		<span class="icon marker"></span>
		<strong>Universidade Popular de Arte e Ciência</strong>
		<br/>Instituto Municipal Nise da Silveira
		<br/>R. Ramiro Magalhães, 521 - Engenho de Dentro
		<br/>Rio de Janeiro - RJ, 20730-460
		<br/>Tel. (21) 3111-7535
	</p>
	<p>
		<span class="icon email"></span>
		<strong><a href="mailto:contato@upac.com.br">contato@upac.com.br</a></strong>
	</p>
</div>