<h1 class="logo">UPAC</h1>

<p>Nossa proposta educacional está calcada em uma visão de educação que toma  a vivência como caminho e considera o saber-de- experiência-feito como ponto de partida, base da produção do conhecimento. Aqui referenciamos um dos nossos mestres, Paulo Freire, que nos ensina que o conhecimento provém da experiência. Nos ensina ainda, dialogando com nossa mestra maior, Nise da Silveira, que não se educa só pela racionalidade. Portanto apresentamos a amorosidade como princípio fundante de nosso caminho pedagógico e que gera o afeto catalisador, grande legado de Nise que, por sua vez, gera cuidado e alegria também conceitos que nos iluminam e orientam o nosso caminhar.</p>

<iframe width="560" height="315" src="http://www.youtube.com/embed/XCVsm-_B_pU" frameborder="0" allowfullscreen></iframe>

<p>Aprendemos com Baruch de Spinoza que somos afetados pelas paixões e que as paixões que geram alegria  despertam nossa potência de viver. Portanto as paixões alegres constituem-se também referencias de nossa pratica pedagógica. Também dialogando com Nise e Spinoza referendamos a idéia de Deus  como algo inerente ao humano, síntese entre transcendência e imanência, sagrado e profano, corpo e espírito. Apresentamos a vida como centralidade, biocentrismo em vez de antropocentrismo. Portanto nossa universidade referencia as praticas tradicionais como o xamanismo, o candomblé e tantas outras, como caminhos de aprendizagens significativas, de fortalecimento da identidade e dos desvelamento do que Jung chamou de  inconsciente coletivo.</p>

<p>Na UPAC propomos uma ciência intuitiva, que considera a importância do ato criador e onde criação não se separa da invenção. Onde a poesia e a cultura popular revelam a beleza do conhecer  que gera luz, faz nascer novas possibilidades de transformação do cotidiano em suas complexidades. Referenciamos ainda Paulo Freire  ao compreendermos o humano como inacabado em sua incompletude que valoriza o saber do outro e da outra respeitando as diferenças e reconhecendo as semelhanças propondo o exercício da alteridade produtor de polifonias e policromias.</p>

<p>Parte de uma visão ética que considera a fraternidade e a solidariedade como ideias-força e compreendendo a circularidade sistêmica, propõe mandalas como sínteses reflexivas e movimentos  em teias que referendam a conjugação do verbo esperançar como estratégia de conquista da liberdade.</p>

<h2>UPAC na rede</h2>

<p>Este site é uma plataforma de colaboração para os integrantes da UPAC e quem mais estiver interessado em ingressar na nossa rede.</p>

<p>Navegue pelos conteúdos através do menu à esquerda. Cada botão leva a um espaço diferente:</p>

<img src="./img/upac_sobre_icones.png"/>

<p>E para entrar com seu perfil ou se cadastrar, clique no botão à direita:</p>

<img src="./img/upac_sobre_login.png"/>

<h2>Contato</h2>

<p>
	<strong>Universidade Popular de Arte e Ciência</strong>
	<br/>Inst. Mun. de Assistência À Saúde Nise da Silveira
	<br/>R. Ramiro Magalhães, 521 - Engenho de Dentro
	<br/>Rio de Janeiro - RJ, 20730-460
</p>

<p><strong>contato@upac.br</strong></p>