html
	body
		h1 Recupere sua senha
		p 
			| Você fez um pedido de recuperação de senha no site UPAC para o usuário 
			strong #{user.name}
			| , e para executar esta operação você deve entrar no link a seguir:
		p
			a(href="http://upac.ultraleve.me/resetpassword/#{user.passwordResetToken}") http://upac.ultraleve.me/resetpassword/#{user.passwordResetToken}
		p Caso o link não esteja disponível para clicar, copie o endereço acima e cole na barra de endereços do seu navegador para validar seu cadastro.
		p Se você não fez o pedido, você pode ignorar essa mensagem - sua senha continuará inalterada.