<div class="pad">
	{{#if User.auth.loggedIn}}
		<h2>
			{{User.auth.username}}
		</h2>

		{{view App.UserPhoto}}
		
		{{#linkTo "rede.perfil" User.model classNames="btn"}}salvar{{/linkTo}}
		{{#linkTo "rede.perfil" User.model classNames="btn"}}cancelar{{/linkTo}}
		

	{{else}}
		<p>Conecte-se e participe da nossa rede!</p>
		<p>{{#linkTo 'user' classNames="btn"}}Participar{{/linkTo}}</p>
	{{/if}}
</div>