<div class="pad">
	
	<h1>Bem-vindo a rede UPAC{{#if User.auth.loggedIn}}, <span class="upper">{{User.auth.username}}</span>{{/if}}</h1>


{{#if App.MapController.isFetching}}
	
	<p>Buscando dados...</p>

{{else}}

	{{#if User.auth.loggedIn}}
		
		<p>{{#linkTo 'rede.perfil' User.model classNames="btn"}}Meu perfil{{/linkTo}}</p>

	{{else}}
		
		<p>Conecte-se e participe da nossa rede!</p>
		<p>{{#linkTo 'user' classNames="btn"}}Participar{{/linkTo}}</p>

	{{/if}}

{{/if}}

</div>