
/* ---------------- BASICS ---------------- */


::-moz-selection{ background: #444; color:#fff; text-shadow: none; }
::selection { background:#444; color:#fff; text-shadow: none; } 

a { outline: none; }
:-moz-any-link:focus { outline: none; }


a {cursor: pointer}

html, body, #wrapper, body > .ember-view {
	height: 100%;
}

body {
	font-family: "Roboto";
	min-width: 960px;
	color: #444;
}

.upper {
	text-transform: uppercase;
}

iframe {
	background: #444;
}

/* ---------------- GENERIC BLOCKS ---------------- */

.pad {
	padding: 20px;
	position: relative;
}

.pad .pad.over {
	background: rgba(0,0,0,.1);
}

.def_loading {
	padding-left: 30px;
	background: url(../img/ajax-loader.gif) no-repeat left center;
	line-height: 30px;
}

/* ---------------- MENUS ---------------- */

#main_menu {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 9000;
}

#sec_menu {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 9000;

	-webkit-transition: right 500ms cubic-bezier(0.680, 0, 0.265, 1);
	-moz-transition: right 500ms cubic-bezier(0.680, 0, 0.265, 1);
	-o-transition: right 500ms cubic-bezier(0.680, 0, 0.265, 1);
	-ms-transition: right 500ms cubic-bezier(0.680, 0, 0.265, 1);
	transition: right 500ms cubic-bezier(0.680, 0, 0.265, 1);
}

/* ---------------- MAIN MENU ITEMS ---------------- */

#sec_menu ul,
#main_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#main_menu .menu_it {
	margin: 0;
	padding: 0;
}

.menu_it a {
	display: block;
	min-width: 64px;
	height: 64px;
	text-decoration: none;
	position: relative;
	background-color: #333;
	font-size: 18px;
	opacity: .8;
	color: #fff;

	-webkit-perspective: 600;
	-webkit-perspective-origin: 64px center;
	perspective: 600;
	perspective-origin: 64px center;

	-webkit-transition: opacity 1000ms cubic-bezier(0.680, 0, 0.265, 1);
	-moz-transition: opacity 1000ms cubic-bezier(0.680, 0, 0.265, 1);
	-o-transition: opacity 1000ms cubic-bezier(0.680, 0, 0.265, 1);
	-ms-transition: opacity 1000ms cubic-bezier(0.680, 0, 0.265, 1);
	transition: opacity 1000ms cubic-bezier(0.680, 0, 0.265, 1);
}

.menu_it a .caption {
	background-color: inherit;
	white-space: nowrap;
	position: absolute;
	left: 64px;
	display: block;
	width: auto;
	height: 64px;
	display: block;
	line-height: 64px;
	padding: 0 30px 0 20px;

	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-o-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	transform: rotateY(90deg);

	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;

	-webkit-transition: all 300ms cubic-bezier(0.680, 0, 0.265, 1);
	-moz-transition: all 300ms cubic-bezier(0.680, 0, 0.265, 1);
	-o-transition: all 300ms cubic-bezier(0.680, 0, 0.265, 1);
	-ms-transition: all 300ms cubic-bezier(0.680, 0, 0.265, 1);
	transition: all 300ms cubic-bezier(0.680, 0, 0.265, 1);
}

.menu_it a:hover,
.menu_it a.active {
	opacity: 1;
}

.menu_it a:hover .caption {
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-o-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
}

.menu_it a .ico {
	background: url(../img/upac_menu_sprites.png) no-repeat 0 0;
	position: absolute;
	display: block;
	top:0;
	left: 0;
	width: 64px;
	height: 64px;
}

.menu_it.home a:hover, .menu_it.home a.active { background-color: #333;  }
.menu_it.upac a:hover, .menu_it.upac a.active { background-color: #4280a7; }
.menu_it.rede a:hover, .menu_it.rede a.active { background-color: #6fb7ac; }
.menu_it.blog a:hover, .menu_it.blog a.active { background-color: #bf3205; }
.menu_it.agenda a:hover, .menu_it.agenda a.active { background-color: #ec932b; }

.menu_it.upac a .ico { background-position: -64px 0; }
.menu_it.rede a .ico { background-position: -128px 0; }
.menu_it.blog a .ico { background-position: -256px 0; }
.menu_it.agenda a .ico { background-position: -192px 0; }


/* ---------------- SEC MENU ITEMS ---------------- */


#sec_menu.rede {
	right: 30%;
}

#sec_menu .menu_it.rede {
	display: none;
}

#sec_menu.rede .menu_it.rede {
	display: block;
}

#sec_menu .menu_it a {
	-webkit-transition: right 300ms cubic-bezier(0.680, 0, 0.265, 1);
	-moz-transition: right 300ms cubic-bezier(0.680, 0, 0.265, 1);
	-o-transition: right 300ms cubic-bezier(0.680, 0, 0.265, 1);
	-ms-transition: right 300ms cubic-bezier(0.680, 0, 0.265, 1);
	transition: right 300ms cubic-bezier(0.680, 0, 0.265, 1);
	-webkit-perspective-origin: 0 center;
	perspective-origin: 0 center;
}

#sec_menu .menu_it a .caption {
	left: auto;
	right: 64px;
	padding: 0 20px 0 30px;

	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	-o-transform-origin: right center;
	-ms-transform-origin: right center;
	transform-origin: right center;

	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}

#sec_menu.home .menu_it.participate a .caption,
#sec_menu .menu_it a:hover .caption {
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-o-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
}

#sec_menu .menu_it.participate a .ico { background-position: 0 -64px; }
#sec_menu .menu_it.logout a .ico { background-position: -64px -64px; }
#sec_menu .menu_it.profile a .ico { background-position: -128px -64px; }
#sec_menu .menu_it.busca a .ico { background-position: -192px -64px; }
#sec_menu .menu_it.add a .ico { background-position: -256px -64px; }
#sec_menu .menu_it.marker a .ico { background-position: -320px -64px; }

.menu_it.profile a:hover, .menu_it.profile a.active { background-color: #6fb7ac; }

/* ---------------- CONTENT AND WRAPPER ---------------- */


#content {
	margin: 0 120px;
	padding: 20px;
	z-index: 2;
	min-width: 740px;
	max-width: 1280px;
}

.side_title {
	text-transform: uppercase;
	font-size: 5em;
	line-height: 1em;
}


/* ---------------- HOME ---------------- */

#wrapper.home {
	background: #111;
	color: #fff;
	overflow: hidden;
}

#wrapper.home #content{
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: none;
	max-height: none;
	overflow: hidden;
}

#wrapper.home #content .ember-view,
#wrapper.home #content .slideshow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#wrapper.home .slideshow {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#wrapper.home .slideshow li {
	position: absolute;
	margin: 0;
	padding: 0;
	line-height: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 1;
}

#wrapper.home .slideshow li.lastshow {
	display: block;
	z-index: 2;
}

#wrapper.home .slideshow li.show {
	display: block;
	z-index: 3;
}

#wrapper.home .slideshow li img {
	display: none;
}

#wrapper.home .home_wrapper {
	width: 770px;
	z-index: 10;
	margin: 20px auto 0;
	overflow: hidden;
	position: relative;
	padding-right: 21px;
}

#wrapper.home .home_wrapper h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 4em;
	font-weight: 600;
	line-height: 1.0em;
	margin-bottom: 30px;
}

#wrapper.home .home_wrapper h1 span {
	display: block;
}

#wrapper.home .home_wrapper .destaque {
	width: 720px;
	min-height: 300px;
	margin-left: 50px;
	margin-bottom: 10px;
	overflow: hidden;
}

#wrapper.home .home_wrapper .destaque ul {
	width: 10000px;
	height: 300px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#wrapper.home .home_wrapper .destaque li {
	margin: 0;
	padding: 0;
	float: left;
	width: 720px;
	height: 300px;
	margin-right: 720px;
}

#wrapper.home .home_wrapper .destaque li a {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#wrapper.home .home_wrapper .destaque li a:hover {
	opacity: 1;
}


#wrapper.home .home_wrapper .noticias {
	width: 720px;
	margin-left: 50px;
	overflow: hidden;
	height: 100px;
}

#wrapper.home .home_wrapper .noticias ul {
	width: 10000px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#wrapper.home .home_wrapper .noticias li {
	background: rgba(50,50,50,.8);
	width: 345px;
	min-height: 100px;
	padding: 10px;
	float: left;
	margin-right: 1px;
}

#wrapper.home .home_wrapper .noticias li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: .8em;
}

#wrapper.home .home_wrapper .maisnoticias {
	display: block;
	width: 20px;
	height: 100px;
	background: rgba(30,30,30,.8);
	position: absolute;
	bottom: 0;
	right: 0;

	text-align: center;
	line-height: 96px;
	text-decoration: none;
	font-size: 18px;
}

/* ---------------- UPAC ---------------- */

#wrapper.upac {
	background: #dedede;
	height: auto;
}

#wrapper.upac a {
	color: #4280a7;
}

#wrapper.upac #content {
	margin: 0 0;
	padding: 100px 0 0;
	width: 100%;
	max-width: 100%;
	font-size: 1.1em;
	line-height: 1.3em;
}

#wrapper.upac #content .logo {
	width: 420px;
	height: 120px;
	background: url(../img/upac_logo_cinza.png) no-repeat 0 0;
	text-indent: -9999px;
	margin: 0 auto 40px;
}

#wrapper.upac #content h2 {
	text-transform: uppercase;
}

#wrapper.upac #content > p {
	margin: 3em auto;
	width: 70%;
}

#wrapper.upac #content iframe {
	margin: 60px auto;
	display: block;
}

#wrapper.upac #content .contato {
	text-align: center;
	padding: 60px 0;
}

#wrapper.upac #content .upac-row p {
	margin: 1em;
}

#wrapper.upac #content .upac-row.white {
	background: #fff;
}

#wrapper.upac #content .upac-row .row-fluid {
	width: 70%;
	margin: 0 auto;
	padding: 60px 0;
}

#wrapper.upac .icon {
	display: block;
	width: 64px;
	height: 64px;
	margin: 0 auto;
	background: url(../img/upac_menu_sprites.png) no-repeat 0 0;
}

#wrapper.upac .icon.marker {
	background-position: -384px -64px;
}
#wrapper.upac .icon.email {
	background-position: -448px -64px;
}


/* ---------------- REDE ---------------- */

#wrapper.rede #content{
	margin: 0;
	padding: 0;
	height: 100%;
}

#map_canvas {
	position: absolute;
	width: 70%;
	height: 100%;
	z-index: 0;
	display: none;
}

#map_canvas.marking {
	cursor: crosshair;
}

#wrapper.rede #map_canvas {
	display: block;
}

.rede_bar {
	position: absolute;
	left: 50%;
	bottom: 10px;
	background: rgba(255,255,255,.9);
	padding: 20px;
	width: 400px;
	margin-left: -240px;
	z-index: 2;
	text-align: center;
}

#rede_sidebar {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(111,183,172,.85);
	background: rgba(255,255,255,.85);
	width: 30%;
	height: 100%;
	min-height: 320px;
	z-index: 5;
	color: #444;
	overflow: auto;
}

#rede_sidebar h1 {
	margin-bottom: 1em;
}

#rede_sidebar a {
	/*color: #444;*/
}

#rede_sidebar .pad {
	max-width: 320px;
}

#rede_sidebar .tags {
	font-size: 0.9em;
}

#rede_sidebar .tags a {
	display: inline-block;
	margin-right: 2px;
}

.rede_perfil_foto {
	position: relative;
	max-width: 320px;
}

.rede_perfil_foto .rede_perfil_foto_editar {
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	background: rgba(50,50,50,.8);	
}

.rede_perfil_foto:hover .rede_perfil_foto_editar {
	display: block;
}

#rede_sidebar .user_articles {
	list-style-type: none;
	margin: 0 0 10px;
	padding: 0;
}

#rede_sidebar .user_articles li {
	margin: 1px 0 0;
	padding: 0;
}

#rede_sidebar .user_articles li a {
	padding: 10px;
	background: #efefef;
	display: block;
	text-decoration: none;
	color: #666;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#rede_sidebar .user_articles li a:hover {
	background: #666;
	color: #fff;
}

#rede_sidebar input[type="text"],
#rede_sidebar textarea {
	width: 90%;
}

/* ---------------- BLOG ---------------- */

#wrapper.blog {
	padding-bottom: 100px;
}


#wrapper.blog #content {
	margin: 0 80px;
	max-width: none;
}

#wrapper.blog .grid_posts a {
	color: #fff;
	text-decoration: none;
}

#wrapper.blog h1 a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
}

#wrapper.blog h3 {
	line-height: 1.2em;
	margin-bottom: 30px;
}

#wrapper.blog .grid_posts {
	margin-right: -50px;
	overflow: hidden;
}

#wrapper.blog .grid_posts article {
	width: 250px;
	height: 300px;
	float: left;
	margin: 2px;
	position: relative;
}

#wrapper.blog .grid_posts article .figure {
	width: 250px;
	height: 200px;
	background: #ccc;
	display: block;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

/*#wrapper.blog .grid_posts article .figure img {
	height: 100%;
	width: auto;
}*/

#wrapper.blog .grid_posts article .info {
	padding: 20px;
	height: 260px;
	width: 210px;
	position: relative;
	overflow: hidden;
	background: inherit;
}

#wrapper.blog .grid_posts article .title {
	display: block;
	font-size: 1.6em;
	line-height: 1.2em;
	margin-bottom: 0.2em;
}

#wrapper.blog .grid_posts article .date,
#wrapper.blog .grid_posts article .excerpt {
	font-size: 0.9em;
	color: #eee;
	display: block;
}

#wrapper.blog .grid_posts article .excerpt {
	position: absolute;
	bottom: 20px;
	width: 210px;
}

#wrapper.blog .grid_posts article a:hover .excerpt {
	bottom: 80px;
	opacity: 0;
}

#wrapper.blog .grid_posts article .author {
	font-size: 0.9em;
	overflow: hidden;
	position: absolute;
	width: 200px;
	bottom: -70px;
}

#wrapper.blog .grid_posts article a:hover .author {
	bottom: 10px;
}

#wrapper.blog .grid_posts article .author .post_avatar {
	display: block;
	width: 48px;
	height: 48px;
	overflow: hidden;
	border-radius: 24px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
}

#wrapper.blog .grid_posts article .author .post_avatar img {
	height: 48px;
	width: auto;
	max-width: none;
}

/* featured */

#wrapper.blog .grid_posts article.featured .info {
	height: 80px;
	position: absolute;
	bottom: 0;
}

#wrapper.blog .grid_posts article.featured .title {
	font-size: 1.2em;
	/*color: #333;*/
}

#wrapper.blog .grid_posts article.featured .date {
	/*color: #666;*/
}

#wrapper.blog .grid_posts article.featured a:hover .title,
#wrapper.blog .grid_posts article.featured a:hover .date {
	/*color: #fff;*/
}

#wrapper.blog .grid_posts article.featured a:hover .info {
	height: 160px;
}


#wrapper.blog .grid_posts article :hover .info {
	color: #efefef;
	padding: 20px;
	background: #333;
}

/* anim */

#wrapper.blog .grid_posts article .info,
#wrapper.blog .grid_posts article .author,
#wrapper.blog .grid_posts article .excerpt {

	-webkit-transition: all 0.3s cubic-bezier(0.680, 0, 0.265, 1);
	-moz-transition: all 0.3s cubic-bezier(0.680, 0, 0.265, 1);
	-ms-transition: all 0.3s cubic-bezier(0.680, 0, 0.265, 1);
	-o-transition: all 0.3s cubic-bezier(0.680, 0, 0.265, 1);
	transition: all 0.3s cubic-bezier(0.680, 0, 0.265, 1);
}

#wrapper.blog .thepost {
	min-width: 780px;
	max-width: 940px;
	margin: 100px auto;
	font-size: 16px;
	line-height: 1.75em;
}

#wrapper.blog .thepost p {
	margin-bottom: 2em;
	line-height: 1.75em;
}

#wrapper.blog .thepost blockquote {
	font-style: oblique;
	font-family: Georgia, Times, serif;
	font-size: 18px;
	color: #666;
	padding-left: 30px;
	padding-right: 60px;
	margin: 30px 0;
	line-height: 1.75em;
}

#wrapper.blog .thepost ul {
	margin: 30px 0;
	list-style-position: inside;
}

#wrapper.blog .thepost li {
	line-height: 1.75em;
}

#wrapper.blog .thepost .title {
	font-size: 2.2em;
	margin-bottom: 0.4em;
}

#wrapper.blog .thepost .date {
	color: #666;
	font-size: 0.8em;
	margin-bottom: 1em;
}

#wrapper.blog .thepost .excerpt {
	font-size: 0.9em;
	text-transform: uppercase;
	margin-bottom: 2em;
	line-height: 1.5em;
}

#wrapper.blog .thepost .firstimage {
	margin-bottom: 30px;
	text-align: right;
}

.thepost .tags {
	font-size: 0.8em;
}

.thepost .tags a {
	margin-left: 4px;
}

.post_content {
	font-size: 16px;
	line-height: 1.5em;
}

.post_content p {
	margin-bottom: 1em;
}

.post_content .image-upload {
	display: none;
}

.post_header {
	position: relative;
}

.post_info {
	font-size: 0.8em;

}

.post_info > div {
	position: absolute;
	bottom: 0;
}

.post_avatar {
	display: block;
	width: 64px;
	height: 64px;
	overflow: hidden;
	border-radius: 32px;
	margin-bottom: 10px;
}

.post_avatar img {
	height: 64px;
	width: auto;
	max-width: none;
}

.post_info a {
	text-decoration: none;
}


.post_comments {
	margin-bottom: 60px;
}

.post_comments ul {
	list-style-type: none;
}

#wrapper.blog .thepost .post_comments .comment p {
	line-height: 1.5em;
	margin-bottom: 5px;
}

.post_comments .comment .post_avatar {
	margin-left: 15px;
}

.post_comments .comment .comment_info {
	font-size: 0.8em;
}

.post_comments .comment a {
	text-decoration: none;
}

.post_comments .comment {
	background: #f9f9f9;
	padding: 30px;
	margin-bottom: 10px;
}

/* ---------------- AGENDA ---------------- */

#wrapper.agenda h1 {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1em;
	margin: 0;
}

/* ---------------- MODAL ADD ---------------- */

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}

.overlay .overlay-bg {
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(100,100,100,.8);
}

.overlay .overlay-modal {
	position: absolute;
	display: block;
	width: 50%;
	height: auto;
	padding: 5%;
	top: 20%;
	left: 20%;
	background: #fff;
}

.overlay .overlay-modal ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.overlay .overlay-modal .btn {
	background: #666;
	padding: 30px 0;
	margin-bottom: 1px;
	width: 100%;
	font-size: 24px;
}

.overlay .overlay-modal .btn:hover {
	background: #333;
}

/* ---------------- BOOTSTRAP REPLACE ---------------- */

.btn,
.nav-pills>li>a,
.btn-group>.btn:first-child,
.btn-group>.btn:last-child,
.btn-group>.dropdown-toggle,
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	 -webkit-border-radius: 0;
	    -moz-border-radius: 0;
	     -ms-border-radius: 0;
	      -o-border-radius: 0;
	         border-radius: 0;
	}

.btn-w-icon {
	padding-right: 20px;
}

.tooltip-inner {
	background: rgba(50,50,50,.8);
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: rgba(50,50,50,.8);
}

.nav-pills >  li > a {
	text-decoration: none;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
	background-color: #6fb7ac;
}

/* ---------------- DROPZONE ---------------- */

.dropzone .dz-default.dz-message {
	background-image: none;
}

.dropzone .dz-default.dz-message span {
	text-align: center;
	font-size: 18px;
	display: block;
}

/* ---------------- SELECT2 ---------------- */

.select2-container {
	width: 100%;
}

#rede_sidebar .select2-container-multi .select2-choices {
	border: 2px solid #bdc3c7;
}

.select2-container-multi .select2-choices .select2-search-choice {
	margin-top: 6px;
}

/* ---------------- LEAFLET ---------------- */

.upac_cluster {
	width: 64px;
	height: 64px;
	background-color: rgba(15,81,84,.8)/*rgba(31,113,116,.8)#1f7174*/;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	border-radius: 32px;
}