
/* ---------------- BASICS ---------------- */


::-moz-selection{ background: #fff; color:#000; text-shadow: none; }
::selection { background:#fff; color:#000; text-shadow: none; } 

a { outline: none; }
:-moz-any-link:focus { outline: none; }


a {cursor: pointer}

html, body, #wrapper, body > .ember-view {
	height: 100%;
}

body {
	font-family: "Roboto";
}

/* ---------------- MENUS ---------------- */

#main_menu {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 9000;
}

#sec_menu {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 9000;
}

/* ---------------- MAIN MENU ITEMS ---------------- */

#main_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 64px;
}

#main_menu .menu_it {
	margin: 0 0 4px;
	padding: 0;
	position: absolute;
}

.menu_it a {
	display: block;
	min-width: 64px;
	height: 64px;
	overflow: hidden;
	text-decoration: none;
	color: #fff;
	background-color: #333;
	position: relative;
	opacity: .6;
	line-height: 64px;
	transition: all 0.5s;
	font-size: 18px;
}

.menu_it a > span {
	display: block;
	padding: 0 0 0 64px;
	width: 0;
	white-space: nowrap;
}

.menu_it a span .ico {
	background: url(../img/upac_menu_sprites.png) no-repeat 0 0;
	position: absolute;
	display: block;
	top:0;
	left: 0;
	width: 64px;
	height: 64px;
}

.menu_it a:hover,
.menu_it a.active {
	opacity: 1;
}

.menu_it a:hover > span {
	width: auto;
	padding: 0 40px 0 84px;
}

.menu_it.home { top: 0;  }
.menu_it.upac { top: 64px; }
.menu_it.rede { top: 128px; }
.menu_it.blog { top: 192px; }
.menu_it.agenda { top: 256px; }

.menu_it.home a:hover, .menu_it.home a.active { background-color: #333;  }
.menu_it.upac a:hover, .menu_it.upac a.active { background-color: #4280a7; }
.menu_it.rede a:hover, .menu_it.rede a.active { background-color: #6fb7ac; }
.menu_it.blog a:hover, .menu_it.blog a.active { background-color: #bf3205; }
.menu_it.agenda a:hover, .menu_it.agenda a.active { background-color: #ec932b; }

.menu_it.upac a span .ico { background-position: -64px 0; }
.menu_it.rede a span .ico { background-position: -128px 0; }
.menu_it.blog a span .ico { background-position: -256px 0; }
.menu_it.agenda a span .ico { background-position: -192px 0; }


/* ---------------- SEC MENU ITEMS ---------------- */

#sec_menu .menu_it {
	margin: 0;
	padding: 0;
}

#sec_menu .menu_it a:hover > span {
	width: auto;
	padding: 0 40px 0 64px;
}

.menu_it.login a span .ico { background-position: 0 -64px; }


/* ---------------- CONTENT AND WRAPPER ---------------- */


#content {
	margin: 0 120px;
	padding: 20px;
	z-index: 2;
}


/* ---------------- HOME ---------------- */

#wrapper.home {
	background: #111;
}

#wrapper.home #content{
	margin: 0;
	padding: 0;
}

#wrapper.home h1 {
	position: absolute;
	width: 980px;
	height: 560px;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -490px;
	font-size: 140px;
	line-height: 1em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	z-index: 3;
}

#wrapper.home h1 span {
	display: block;
}

#wrapper.home .slideshow {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#wrapper.home .slideshow li {
	position: absolute;
	margin: 0;
	padding: 0;
	line-height: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 1;
}

#wrapper.home .slideshow li.show {
	display: block;
	z-index: 2;
}

#wrapper.home .slideshow li img {
	display: none;
}

/* ---------------- UPAC ---------------- */

#wrapper.upac {
	background: url(../img/upac_sobre_fundo_01b.jpg) no-repeat fixed 50% 50%;
	background-size: cover;
	color: #fff;
	font-size: 2em;
	line-height: 1.2em;
	min-height: 100%;
	height: auto;
	width: 100%;
	/*text-shadow: 2px 2px 4px rgba(0,0,0,.25);
	filter: dropshadow(color=rgba(0,0,0,.25), offx=2, offy=2);*/
}

#wrapper.upac #content {
	margin: 0 20% 0;
	padding: 200px 0;
	max-width: 720px;
	min-width: 480px;
}

#wrapper.upac #content .logo {
	width: 420px;
	height: 120px;
	background: url(../img/upac_logo.png) no-repeat 0 0;
	text-indent: -9999px;
	margin-bottom: 40px;
}

#wrapper.upac #content h2 {
	text-transform: uppercase;
	margin: 2em 0 1em;
}

#wrapper.upac #content p {
	margin: 1.2em 0;
}

/* ---------------- REDE ---------------- */

#wrapper.rede #content{
	margin: 0;
	padding: 0;
	height: 100%;
}

#map_canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}

#wrapper.rede #map_canvas {
	display: block;
}


/* ---------------- MEDIAQUERIES ---------------- */

/* SMALL */

@media screen and (max-width: 1200px) {

	#wrapper.home h1 {
		width: 630px;
		height: 360px;
		margin: -180px 0 0 -315px;
		font-size: 90px;
	}
}

/* GIANT */

@media screen and (min-width: 1600px) and (min-height: 740px) {

	#wrapper.home h1 {
		width: 1300px;
		height: 720px;
		margin: -360px 0 0 -650px;
		font-size: 180px;
	}
}
