extends ../layout

block content
	form(action='/admin/notice/#{notice.id}',method='POST')
		table.edit
			+field(owner.id, 'owner', 'ID do usuário', 'text')
			+field(notice.order, 'order', 'Ordem', 'number')
			tr
				td 
					label(for='text') Texto:
				td
					textarea(name='text')= notice.text
			+field(notice.url, 'url', 'URL do link', 'text')
			
		input(type='submit',value='Enviar')
	a(href='/admin/notice/#{notice.id}').btn Cancelar
 