extends ../layout

block link
	-var selected = 'avisos';

block content
	h2 Aviso: #{notice.id}
	hr
	form(action='/admin/notice/#{notice.id}',method='POST').form-horizontal
		+field(notice.owner, 'owner', 'ID do usuário', 'text')
		+field(notice.order, 'order', 'Ordem', 'number')
		+textfield(notice.text, 'text', 'Texto')
		+field(notice.url, 'url', 'URL do link', 'text')
			
		button(type='submit').btn.btn-primary Enviar
		a(href='/admin/notice/#{notice.id}').btn Cancelar