extends ../layout

block content
	h2 Avisos
	table.table.table-striped
		thead
			tr
				tr
					th Ordem
					th Aviso
					th Link
					th Criado em
		tbody
			each notice in notices
				tr
					td
						a(href='/admin/notice/#{notice.id}')= notice.order
					td!= md(notice.text)
					td
						a(href=notice.link)= notice.link
					td
						|= notice.createdAt
	.btn-group
		a(href='/admin/notice/new').btn Novo aviso
		a(href='/admin').btn Voltar