extends ../layout

block content
	h2 Novo aviso
	form(action='/admin/notice',method='POST').form-horizontal
		+field("", 'owner', 'ID do usuário', 'text')
		+field("", 'order', 'Ordem', 'number')
		+textfield("", 'text', 'Texto')
		+field("", 'url', 'URL do link', 'text')
		button(type='submit').btn.btn-primary Enviar
	a(href='/admin/notices').btn Cancelar
