extends ../layout

block content
	form(action='/admin/notice',method='POST')
		table.table.table-condensed
			+field("", 'owner', 'ID do usuário', 'text')
			+field("", 'order', 'Ordem', 'number')
			tr
				td.label
					label(for='text') Texto:
				td
					textarea(name='text')
			+field("", 'url', 'URL do link', 'text')
		input(type='submit',value='Enviar')
	a(href='/admin/notices').btn Cancelar
