extends ../layout

block content
	table.table
		tr
			td.label ID
			td= notice.id
		tr
			td.label Ordem
			td= notice.order
		tr
			td.label Aviso
			td!= md(notice.text)
		tr
			td.label Link
			td
				a(href=notice.link)= notice.link
		tr
			td.label Criado em
			td notice.createdAt
	.btn-group
		a(href='/admin/notice/'+notice.id+'/edit').btn Editar artigo
		a(href='/admin/notices').btn Voltar