extends ../layout

block content
	h1 Aviso: #{notice.id}
	table.table-condensed
		+table_rec_row("ID", notice.id)
		+table_rec_row("Ordem", notice.order)
		+table_rec_row_raw("Texto", md(notice.text))
		+table_rec_row_link("Link", notice.link, notice.link)
		+table_rec_row("Data de criação", notice.createdAt)
	.btn-group
		a(href='/admin/notice/'+notice.id+'/edit').btn Editar artigo
		a(href='/admin/notices').btn Voltar