extends ../layout

block title
	| Editar tag: #{tag.name}

block link
	-var selected = 'tags';

block content
	h2 Tag: #{tag.id}
	hr
	form(action='/admin/tag/#{tag.id}',method='POST').form-horizontal
		+field(tag.name, 'name', 'Nome', 'text')
		+field(tag.slug, 'slug', 'Slug', 'text')
		+field(tag.type, 'type', 'Tipo', 'text')
		.control-group
			.controls
				button(type='submit').btn.btn-primary Enviar
				&nbsp; &nbsp; 
				a(href='/admin/tag/#{tag.id}').btn Cancelar
