extends ../layout

block title
	| Novo aviso
block link
	-var selected = 'tags';

block content
	h2 Nova tag
	hr
	form(action='/admin/tag',method='POST').form-horizontal
		+field('', 'name', 'Nome', 'text')
		+field('', 'slug', 'Slug', 'text')
		+field('', 'type', 'Tipo', 'text')
		
		button(type='submit').btn.btn-primary Enviar
		a(href='/admin/notices').btn Cancelar
