extends ../layout

block title
	| Post: #{event.title}

block link
	-var selected = 'events';
	
block content
	h2= event.title
	table.table.table-condensed
		+table_rec_row("ID", event.id)
		+table_rec_row("Slug", event.slug)
		+table_rec_row("Excerpt", event.excerpt)
		+table_rec_row_raw("Conteúdo", event.content)
		+table_rec_row_link("Artigo mãe", event.parent,'/admin/event/'+event.parent)
		+table_rec_row("Status da publicação", event.publicationStatus)
		+table_rec_row_date("Data da publicação", event.publicationDate)
		+table_rec_row_date("Data da início", event.startDate)
		+table_rec_row_date("Data da término", event.endDate)
		+table_rec_row_date("Data de criação", event.createdAt)
		+table_rec_row_date("Última Atualização", event.updatedAt)
	.btn-group
		a(href='/admin/events').btn Voltar
		a(href='/admin/event/'+event.id+'/edit').btn.btn-primary Editar evento
		a(href='/admin/event/'+event.id+'/remove').btn.btn-danger Remover evento
		